header, main, footer {
    width: 100%;
}

#nav-links, #footer-items {
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 960px;
    height: 100px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid black;
}
#nav-links {
    justify-content: flex-end;
    gap: 10px;
}
#footer-items {
    justify-content: space-between;
}
#home {
    flex-grow: 1;
}

#course-grid {
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template: 100px auto / 1fr 1fr 1fr;
    grid-gap: 15px 10px;
    padding-bottom: 20px;
}
#page_title {
    grid-column: 1 / 4;
    align-self: end;
    margin-bottom: 10px;
}

.course_item {
    display: grid;
    grid-template: 1fr 1fr 4fr / 1fr 2fr;
    grid-template-areas:
        "image number"
        "image title"
        "image description";
    grid-gap: 10px;
    height: 300px;
    border: 2px solid black;
}
.course_image {
    grid-area: image;
}
.course_number {
    grid-area: number;
}
.course_title {
    grid-area: title;
}
.course_description {
    grid-area: description;
}
.course_number, .course_title, .course_description {
    margin: 10px 0 0 0;
}

@media only screen and (max-width: 640px) {
    #course-grid {
        grid-template: 100px auto / 1fr 1fr;
    }
    #page_title {
        grid-column: 1 / 3;
    }
}
@media only screen and (max-width: 400px) {
    #course-grid {
        grid-template: 100px auto / 1fr;
    }
    #page_title {
        grid-column: 1 / 2;
    }
}
